body {
    background: url("../images/candy.jpg") no-repeat;
    background-size: 100%

}

.container {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    background: #ffffff;
    margin-top: 100px;
    box-shadow: 1px solid black;
}

.gameLogo {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.gameLogo img {
    width: 50%;
    margin: 0px;
}

.instructions{
    display: flex;
    justify-content: center;
}

.game {
    /*border: 5px solid black;*/
    height: 400px;
    margin-top: 40px;
    margin-bottom: 50px;

}

.box{
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.gameText{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    line-height: 1em;
}

#scoreW, #scoreL, #to-guess {
    margin-top: 50px;
    
}

#guessed-letters, #guesses-left {
    margin-top: 80px;
}

#to-guess {
    font-size: 50px;
}

@media screen and (max-width: 980px){
    .gameLogo img {
        width: 75%;
        margin: 0px;
    }
    .gameText{
        font-size: 26px;
    }
}

@media screen and (max-width: 768px){
    .gameLogo img {
        width: 50%;
        margin: 0px;
    }
    .gameText{
        font-size: 22px;
    }
}


@media screen and (max-width: 640px){
    .gameLogoimg {
        width: 70%;
        margin: 0px;
    }
    .gameText{
        font-size: 26px;
    }
}
